body{
    color: rgb(2, 2, 78);
    background-color: #eef1c7e8;
    font-family: 'Anek Malayalam', sans-serif;
    font-weight:bolder;
    width: 100vw;
    padding: 0 10vw;
    margin: 0.500rem;
    display:block;
    box-sizing: border-box;
}
header{
    text-align: center;
    font-size: 1.5rem;
}
#mainHeading {
    background-color: #eef1c7e8;
    margin: 0 15%;
    padding: 1.875rem;
    border: 0.625rem solid black;
    border-radius: 20px;
    color: red;
}
.funParagraph{
    text-align:center;
    color: green;
}
nav ul li{
    display: inline-block;
    text-align: center;
    margin-right: 1em;
    font-size: 1em;
    padding: 0.625rem 0;
    color: black;
}
nav a {
    text-align: center;
    color: black;
    text-decoration: none;
    display: inline-block;
    margin: 0 15px;
    font-weight: 500;
    font-size: 1em;
}
nav a:hover {
    color: grey;
}

h2{
    font-size:1.500rem;
}
h3{
    text-align: left;
    font-size: 1.500rem;
    font-weight: bolder;
}
h4{
    text-align: left;
    font-size: 1.500rem;
    font-weight: bolder;
}
.row{
    align-items:center;
    display:flex;
    padding:0px;
}
.column {
    display:block;
    width: 50%;
    padding: 0.625rem;
}
section{
    text-align: left;
}
p{
    font-size: 1.000rem;
}
